@font-face {
  font-family: 'JackInput Regular', monospace;
  src: url('fonts/jackinput.ttf') format('truetype');
  font-weight: 300;
}

body {
  font-family: 'JackInput Regular', monospace;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header a {
  padding: 0 20px;
  margin: 0;
}

.btn.btn-nav {
  color: #333333;
  outline: none;
  background-color: #ffffff;
}

.btn.btn-nav:hover,
.btn.btn-nav:focus {
  color: #fbd1d5;
  box-shadow: none;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/telephones.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fbd1d5;
}

.jumbotron h3 {
  margin: 0 0 5px;
  color: #fbd1d5;
}

.img-responsive {
  margin: 0 0 30px;
  width: 100%;
}

#projects a {
  color: #333333;
}

#projects a:link {
  text-decoration: none;
}

#projects a:focus,
#projects a:hover {
  color: #fbd1d5;
}

.col-md-6 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.col-lg-10 {
  padding-top: 20px;
  padding-bottom: 40px;
}

.col-lg-10 h4 b {
  /*color: #588fd5;*/
  color: #588fd5;
}

.btn.btn-primary {
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;

  background-color: transparent;
  outline: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn.btn-secondary {
  color: #ffffff;
  background-color: #588fd5;
  margin: 0 3px 30px;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background-color: #ffffff;
  color: #fbd1d5;
}

#links {
  padding-top: 20px;
}

footer {
  padding-top: 100px;
  font-size: 12px;
}

footer p {
  text-align: center;
  color: grey;
}

footer a {
  color: grey;
}

footer a:link {
  text-decoration: none;
}

footer a:focus,
footer a:hover {
  color: #588fd5;
}

